# Node dependencies
node_modules/

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
app/scraper/data/
app/ingest/data/
# Environment variables
.env
.env.local
frontend/.env.local

# IDE settings
.vscode/

# Vector database storage
qdrant_storage/
storage/

# App output
app/output/

